:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #242424;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 24px;
  line-height: 1.1;
  color: #f9f9f9;
  margin-left: 16px;
}

h2 {
  font-size: 20px;
  line-height: 1.1;
  color: #f9f9f9;
  margin-left: 16px;
  position: absolute;
  top: calc(50% - 70px);
}

#app {
  width: 300px;
  height: 250px;
  background-color: white;
  overflow: hidden;
}

.cloudy {
  background-color: #646cff;
}

.sunny {
  background-color: #ff6464;
}

.snowy {
  background-color: #fff;
}

#screen {
  width: 100%;
  height: calc(100% - 59px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}